
#cards_landscape_wrap-2 .card-flyer .image-box {
  width: 48rem;
  height: 50vh;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8; 
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  width: 48rem;
  height: 50vh;
  box-shadow: var(--dark-shadow);
}
#cards_landscape_wrap-2 .card-flyer .image-box img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48rem;
  height: 50vh;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  opacity: 0.85;
  transition: var(--transition);
}
#cards_landscape_wrap-2 .card-flyer .image-box img:hover{
  opacity: 0;
}
.card-flyer{
  margin-left: -20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

 #cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48rem;
  height: 50vh;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  opacity: 0.6;
  transition: var(--transition);
} 

#cards_landscape_wrap-2 .card-flyer .text-box {
  width: 40rem;
  height: 45vh;
  position: relative;
  margin: 20px;
  background: #f1f5f8;
  padding: 1rem 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-left: 30px;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  height: 40vh;
  width: 43rem;         
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8; 
  z-index: 1;
  background-color: #ffffff;
  margin-left: 400px;
  margin-top: 30px;
}
#cards_landscape_wrap-2 .card-flyer .text-box .new{
  text-align: right;
  margin-top: -40px;
}

.rows{
  display: grid;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify; 
  margin-bottom: 20px;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #2caeba;
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  /* #cards_landscape_wrap-2 .card-flyer .image-box {
    position: relative;
    width: 16rm;
    height: 20vh;
    transform: translateY(-80px);
    z-index: 99;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -20px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img {
    width: 16rm;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-150px);
    opacity: 0;
    transition: 0.3s;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 50px;
    background-color: #222;
    width: 12rm;
    height: 25vh;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .text-box .text-container {
    opacity: 1;
    transform: translateY(-100px);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container p{
    color: #ffffff;
  } */
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
     max-width: 70%;
     height: 30vh;
     margin-left: 300px;
     margin-top: 80px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box img{
    max-width: 65%;
    height: 45vh;
 }
}
